<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict/>
		<dict/>
	</array>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>UISupportsDocumentBrowser</key>
    <true/>
    <key>NSHealthShareUsageDescription</key>
    <string>我们需要访问您的健康数据用于情绪分析</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>我们需要更新您的健康数据以支持功能</string>
</dict>
</plist>
